# Python byte code files
**/__pycache__
**/*.pyc

# Vi swap files
**/*.swp

tags

# stuff that isn't in Git
build*
experiments/smout-runner/*.bc
experiments/smout-runner/*.log
install
nix/gl-experiments/result*
result
result-*

# stuff that is in Git, but isn't needed for the Docker containers
.git
experiments/dockerfiles
experiments/subjects
nix/gl-experiments
outlining/experiments/distributed-htcondor
outlining/experiments/smout-runner
