#!/bin/sh

use_flake() {
  watch_file flake.nix
  watch_file flake.lock
  eval "$(nix print-dev-env | grep -E '^\w+=.*|export \w+$')"
}

if nix flake info >/dev/null 2>&1; then
  use flake
else
  use nix
fi
watch_file flake.lock ./*.nix nix/*.nix nix/bcdb/*.nix

unset NIX_HARDENING_ENABLE # forces -O2, which interferes with debugging
